header{
    text-align: center;
}
main{
    display: flex;
    flex-direction: row;
}

section{
    margin: 5% 0% 0% 10%;
}

section p{
    margin: 0% 0% 0.2% 0%;
}

aside{
    margin: 5% 0% 0% 40%;
}

#identification{
    display: flex;
    flex-direction: row;
}

aside input{
    padding: 2%;
    margin: 1%;
    border: 1px solid #ccc;
}

#aside__msg{
    width: 105%;
}

aside button{
    margin: 2% 0% 0% 90%;
    width: 20%;
    height: 30%;
    background-color: #000;
    color: white;
}

table{
    text-align: left;
    justify-content: center;
    margin: 2% 0% 0% 0%;
}

table thead{
    background-color: #000;
    color: #fff;
}

.table__col1{
    width: 42em;
    padding: 0.5em 0em 0.5em 1em;
}
.table__col2{
    width: 25em;
    padding: 0.5em 0em 0.5em 1em;
}
.table__col3{
    width: 13em;
    padding: 0.5em 0em 0.5em 1em;
}

.tbody__diffcolor{
    background-color: #eee;
}

tbody tr:hover{
    background-color: #ddd;
}
